<section class="d-flex flex-column align-items-center justify-content-center" style="height:100vh;">
  <div>
    <h1>Budget App</h1>
  </div>
  <div class="d-flex flex-column gap-2 mt-5">
    <div>
      <%= link_to "LOG IN", new_user_session_path, class:"btn btn-primary w-100" %>
    </div>
    <div>
      <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-primary w-100" %>
    </div>
  </div>
</section>
